#ruby{
  display: none;
}
#java{
  display: none;
}
#c{
  display: none;
}
h3{
  font-weight: bold;
}
h5{
  text-decoration: underline;
}
.container{
  background-color: lightsteelblue;
  }
  .header, .jumbotron{
    text-align: center;
  }
  
